.container img{
    border-radius: 50%;
    
}
.container button{
    background-color:#FF6464;
    border: #FF6464;
}
.container button:hover{
    background-color:  red;
}

.top_stories{
    background: #EDF7FA;
    padding-top:10px ;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border: 2px solid navy;
}
.headers {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.recent_post {
    float: left; 
    margin-right: 20px;
}

.view {
    float: right;
    margin-left: 700px;
}

 
.content {
    padding: 10px;
    margin-left: 10px;
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;    
    flex-wrap: wrap;
    text-align: center;  
}
 .twenty{
    background-color: blue;
    align-items: center;
    align-content: center;
    border-radius: 50%;
    margin-right: 10px;
 }      
 .twenty button{
    background-color: navy;
    color: white;
    border: 2px solid navy;
    border-radius: 100%;
 }
.img {
    max-width: 100%;
    max-height:100%;
}
       
.news {
    font-size: 15px;
}

.inherrent{
    display: flex;
    justify-content: center;
    align-content: center;

}
hr{
    margin: 50px;
}
.head{
    font-family: Heebo;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container2{
    margin-left: 10px;
}
.logos{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vh;
  text-align: center;
}
.copyright{
    text-align: center;
}